
.mobileNav{
    display: none;
  }


@media screen and ( max-width:576px) {

/* header section  */

.dextopNav{
    display: none;
 }

 .mobileNav{
    display: block;
 }

nav{
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
}

.banner-img{
    margin-left: 50px;
}

.banner-main{
    flex-direction: column;
}

.banner-title{
 font-size: 36px;
line-height: 43px;
font-weight: 900;
width: 80%;
margin-top: 20px;
margin: 15px;
}
.banner-description{
    font-size:16px ;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-left: 20px;
    margin-right: 20px;
}
.video-tutorial-button1{
    left: 0px;
}
.video-tutorial-button2{
    height:60px ;
  width: 150px;
  bottom: 380px;
  right: 10px;
  
}



 /* Change Your Habits section start  */


.habit-container{
    grid-template-columns: repeat(1,1fr);
 /* padding-left: 100px;
    padding-right: 80px;  */
    margin: auto;
   justify-content: center;
    gap: 30px;
}

/* Change Your Habits section start end */

 /* Run an Extra Mile Easily  */
 .running-man{
    flex-direction: column;
  justify-content: center;
 padding: 30px 34px;
 gap: 0px;

}
.all-title{
    font-size: 32px;
    font-weight: 900;
}

.all-description{
    font-size: 14px;
    font-weight: 400;
}

#contan{
    height: 170px;
    width: 287px; 
    
}
.runingmanBtn{
height: 54px;
width:287px ;
font-size: 18px;
}

.classes-container{

flex-direction: column;
margin: auto;
   width: 70%; 


}
.image-size{
width: 300px;
}

 /* Run an Extra Mile Easily end  */

/* our team section start  */

.our-team{
    flex-direction: column;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.our-team2{
    display: none;
}


/* our team section end */

/* bmi calculater  */

.bmi-gap{
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding: 0px 0px;
}
.section1{
    max-width: 200px;
}

.bmi-calculator{
    margin-left: 0px;
}
input{
    /* display: flex; */
 max-width: 40%;

}
.section2{
    max-width: 45%;  
}
.section1{
    max-width: 90%;
 
    


/* footer section star  */
.main-footer{
    flex-direction: column;
    height: 100%;
    padding-left: 50px;
    gap: 50px;
    padding-bottom: 30px;
}

}

.main-footer{
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    gap: 20px;
}








}